## Modeling

#### Imports

In [32]:
import pandas as pd
import numpy as np

from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout
from keras.preprocessing.text import Tokenizer, one_hot
from keras.preprocessing.sequence import pad_sequences
from keras.callbacks import EarlyStopping

#### Data Read In and Preprocessing

In [70]:
sequences = pd.read_csv("../data/word_sequences.csv")

sequences.head(10)

  previous_word   one_word  ...                        three_word three_word_next
0            \n       from  ...  ('from', 'fairest', 'creatures')              we
1          from    fairest  ...    ('fairest', 'creatures', 'we')          desire
2       fairest  creatures  ...     ('creatures', 'we', 'desire')        increase
3     creatures         we  ...      ('we', 'desire', 'increase')               ,
4            we     desire  ...       ('desire', 'increase', ',')              \n
5        desire   increase  ...                                \n              \n
6      increase          ,  ...                                \n              \n
7            \n       that  ...   ('that', 'thereby', "beauty's")            rose
8          that    thereby  ...   ('thereby', "beauty's", 'rose')           might
9       thereby   beauty's  ...     ("beauty's", 'rose', 'might')           never

[10 rows x 7 columns]

In [121]:
three_word = []

In [122]:
for x in sequences["three_word"]: 
    three_word.append(x.replace("(", "").replace(")", "").replace("'", "").split(" "))

In [123]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(three_word)

In [125]:
three_word_vecs = tokenizer.texts_to_matrix(three_word)

## TAKE THAT FORMATTING, YA BITCH